/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
.phpcd
*.map
.DS_Store
Thumbs.db
*.bak
*.sql
*.swp
*.sublime-project
*.sublime-workspace
.idea
.project
_ide_helper.php
composer.phar
composer.lock
error.log
Todo.rtf
.vagrant
